<div class="container">
  <div>
    <button (click)="toggleCategories()" style="font-size: 20px">Выберите категорию</button>
    <div *ngIf="showCategories">
      <h2>Категории</h2>
      <ul>
        <li *ngFor="let category of categories">
          <button (click)="onCategorySelected(category)">{{ category }}</button>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="selectedCategory">
    <h2>{{ selectedCategory }}</h2>
  </div>

  <div class="product-list-container">
    <div *ngFor="let product of products" class="product-card">
      <button (click)="removeProduct(product)" >Удалить</button>
      <h3>
        <a [title]="product.name + ' details'" [href] = product.link >
          {{ product.name }}
        </a>
      </h3>

      <img [src]="product.currentImage" class="current-image" *ngIf="product.currentImage" height="300px">

      <div class="gallery">
        <img *ngFor="let imageUrl of product.imageUrl"
             [src]="imageUrl"
             [class.active]="imageUrl === product.currentImage"
             (click)="setCurrentImage(product, imageUrl)">
      </div>

      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>

      <p class="rating" *ngIf="product.rating">
        Rating: {{ product.rating }}
      </p>

      <button type="button" (click)="shareOnWhatsApp(product.link)">
        Share WhatsApp
      </button>

      <span style="margin-right: 10px;"></span>

      <button type="button" (click)="shareOnTelegram(product.link)">
        Share Telegram
      </button>

      <p>Likes: {{ product.likes }}</p> <!-- Display likes count -->
      <button (click)="likeProduct(product)">Like</button>

      <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
      </app-product-alerts>

    </div>
  </div>
</div>
